/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

// Global
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

// Components
:root {
  --background: #f7f8fa;
  --text: #6a7998;
  --column-1: #8833ff;
  --column-2: #33bfff;
  --column-3: #ffcb33;
  --column-4: #29cc39;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: "Inter", sans-serif;
  // overflow-y: hidden;
}

h1.main-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.container {
  margin: 0 auto;
  display: flex;
  // flex-wrap: wrap;
  // align-items: center;
  place-content: center space-between;
  gap: 32px;
  max-width: 1040px;
  &-title {
    padding: 96px 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex: 0 1 25%;
}

.column-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  isolation: isolate;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(106, 121, 152, 0.12);
  border-radius: 6px;
  margin-bottom: 32px;
  &-description {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1.2px;
  }
  &-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    width: 32px;
    height: 31px;
    background: #ffffff;
    border: 1px solid rgba(106, 121, 152, 0.12);
    box-shadow: 0px 0px 6px rgba(106, 121, 152, 0.06);
    border-radius: 16px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  &-element {
    position: absolute;
    width: 3px;
    height: 30px;
    left: 0px;
    top: 15px;
    border-radius: 2px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
  }
  &-element.column-1 {
    background: var(--column-1);
  }
  &-element.column-2 {
    background: var(--column-2);
  }
  &-element.column-3 {
    background: var(--column-3);
  }
  &-element.column-4 {
    background: var(--column-4);
  }
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 20px;
}

.item {
  height: fit-content;
  padding: 0px 24px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(106, 121, 152, 0.12);
  border-radius: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 48px;
  letter-spacing: 0.3px;
}

.column-button-group {
  display: flex;
  place-content: space-between;
  margin-top: 32px;
}

.button {
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 24px;
  border-radius: 6px;
  overflow: visible;
  font-weight: 700;
  font-size: 12px;
  color: var(--text);
  background-color: transparent;
  // transition: all 0.2s ease-in;
  &:hover {
    background-color: rgba(#6a7998, 0.09);
  }
  &:active {
    background-color: rgba(#6a7998, 0.15);
  }
}

.button.button-save {
  display: none;
}

.column-add-container {
  margin-top: 8px;
  padding: 8px 24px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 242px;
  display: none;
}

.add-item {
  outline: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 1167px) {
  .container {
    padding: 32px;
    max-width: 600px;
    flex-wrap: wrap;
    gap: 96px;
    &-title {
      padding-top: 64px;
      place-content: center;
    }
  }

  h1.main-title {
    text-align: center;
  }

  .column {
    flex: 0 1 100%;
  }
}
